:root {
  --background: #f2f2f2;
  --primary: #eab305;
  --secondary: #3b3b3b;
  --details: #ff533d;
  --text: #f5f5f5;
  --test1: red;
  --test2: blue;
  --test3: yellow;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-container {
  background-color: var(--secondary) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.greetings {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: right;
}
.App-link {
  color: var(--details);
}
.header {
  color: var(--text) !important;
  background-color: var(--secondary) !important;
}
.header-logo {
  height: 60px;
  cursor: pointer !important;
}
.header-search {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.header-greetings {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: var(--primary);
}
.content {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  color: var(--text) !important;
  background-color: var(--secondary) !important;
}

.product-card {
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 500px) {
  .product-card {
    margin: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .product-card {
    margin-bottom: 2rem;
  }
}
.product-card:hover {
  transition: all 0.2s ease-out;
  top: -4px;
  border: 1px solid #cccccc;
  background-color: var(--details);
  border-radius: 5px;
  transform: scale(1.1);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.product-card-info {
  border-left: 2px solid var(--details);
  border-bottom: 2px solid var(--details);
  border-right: 2px solid var(--details);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
}

/*-------------------------------------------------------------------*/
.productInfo {
  background-color: white;
  padding: 2rem;
  /* min-width: 600px; */
  /* padding: 20px; */
  /* margin: 0 40px; */
  
} 
@media screen and (min-width: 500px) {
  .productInfo {
    margin-left: 10rem;
    margin-right: 6rem;
  }
}
.productInfo-imageContainer {
  width: 300px;

  /* position: relative;
  background-color: white;
  filter: brightness(90%);
  padding: 20px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}
.productInfo-images {
  filter: brightness(90%);
  padding: 20px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productInfo-description {
  padding: 20px;
}

.productsIncart{
}
@media screen and (min-width: 500px) {
  .productsIncart {
    margin-left: 10rem;
    /* margin-right: 6rem; */
  }
}
/*-------------------------------------------------------------------*/
.cartDetails {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
}
@media screen and (min-width: 500px) {
  .cartDetails {
    padding: 2rem;
    margin-right: 10rem;
  }
}
/*-------------------------------------------------------------------*/
